body {
    font-family: sans-serif;
}
main {
    text-align: center;
}
h1 {
    color: blue;
    text-decoration-line: overline underline;
    text-decoration-style: double;
}
h3 {
    border: 1px solid black; 
    padding: 10px; 
}
.it_about{
    color: saddlebrown;
}
h4 {
    text-align: cener;
    color: blue;
    text-decoration-line:  underline;
}

.items{
    width: 80%;
    margin: auto;
}
.it_image{
    display: inline-block;
    width: 45%;
}

.it_about{
    display: inline-block;
    width: 45%;
}
